*{
    box-sizing: border-box;
    font-family:sans-serif;

}

body{
    margin:0;
    height: 100vh;
    background-color: #282D35;

}
nav>img{
    height:30px;
    margin-right: 7px;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 90px;
}

.nav--logo-text,.nav--title{
    margin:0;
}

.nav--logo-text{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}
.nav--title{
    color: #DEEBF8;
    font-weight: 600;

}

main{
    padding: 57px 27px;
    color: white;
    background-image: url(./halfLogo.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;

}
main>img{
    mix-blend-mode: color-burn;
}

.main--title{
    margin:0;
    font-size:39px;
    letter-spacing: -0.05em;
}

.main--facts{
    margin-top:46px;
    max-width: 400px;
}

.main--facts> li{
    padding-block: 10px;
    list-style: 19px;
}

li::marker{
    font-size: 1.5rem;
    color: #61DAFB; 
}

